  main {
    display: grid;
    grid-gap: 1rem;
  }

/* BANNER - BANNER - BANNER - BANNER - BANNER - BANNER - BANNER - BANNER - BANNER */

.blog__banner {
  min-height: calc(42vh - 8rem);
  width: 100%;
  padding: 2rem;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: 
    var(--color-yellow) 
    url('../../public/images/svg/layered-waves-haikei.svg')
    no-repeat 
    bottom 
    center;
  background-size: cover;

  text-align: center;

  h3 { 
    margin-top: 2rem; 
  }
}

.blog-animation {
  font-family: inherit;

  transition: color 5s;

  &:focus,
  &:hover {
    cursor: crosshair; /* For fun */
    color: var(--color-dark);

    transition: all var(--speed-fast);
  }
}

/* THUMBNAILS - THUMBNAILS - THUMBNAILS - THUMBNAILS - THUMBNAILS - THUMBNAILS */

.blog__thumbnails {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  article {
    div {  /* Thumbnail Wrapper */
      display: flex;
      align-items: left;

      background-color: var(--color-blood);
    }

    a {
      flex: 1 0 auto;
      
      outline: 1rem solid var(--color-dark);
      height: 100%;
      width: 100%;

      display: flex;
      align-items: stretch;

      transition: transform var(--speed-fast) ease-out, outline var(--speed-slow) ease;

      text-decoration: none;

      &:focus,
      &:hover { 
        background-color: var(--color-blood);
        border-radius: 1rem;
        transform: translateX(2.5rem);
        z-index: 1;

        transition: transform var(--speed-fast) ease-out, 
          outline var(--speed-fast) ease-out;
      }
    }
    
    img {
      width: 100%;
      display: none;
    }

    h2 {
      padding: 1rem 2rem;

      color: var(--color-yellow);
    }

    p {
      /* height: 100%; */
      margin: 0;
      padding: 2rem;

      background-color: var(--color-white);
    }
  }
}

/* ASIDE ASIDE ASIDE ASIDE ASIDE ASIDE ASIDE ASIDE ASIDE ASIDE ASIDE ASIDE ASIDE */

aside {
  padding: 2rem;
  align-self: start;

  background-color: var(--color-white);
}

/* MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES */

@media  screen and (min-width: 30rem) {

  /* Thumbnails */

    h2 { font-size: 1.5rem; }
}

@media screen and (min-width: 40rem) {

  /* Banner */
  
  h1.dragon-text {
    max-width: 55rem;
  }

  .blog__banner {
    min-height: 32vh;
  }
}

@media screen and (min-width: 64rem) {

  .blog__banner {
    min-height: calc(100vh - 7.5em);
  }

  header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  main {
    grid-column: span 2;

    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 38.2% 1fr; /* 38.2% = Golden Ratio */
  }

  .blog__banner {
    border-bottom: none;
    grid-column: 1 / 2;
    grid-row: 1 / 5;

    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
}