*.dark-mode {
  --color-white: #1e1e1e;
  --color-blood: #ffb532;
  --color-dark: #d2d2ce;
  --color-grey: #1e1e1e;
  --color-yellow: #af3333;
}

.dark-mode-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  border: 0.25rem solid var(--color-dark);
  border-radius: 2rem;
  padding: 1rem;

  box-shadow: 0 0 2rem #1e1e1e;

  transition: var(--speed-fast);

  z-index: 100;

  &:hover {
    background-color: var(--color-blood);
  }

  &:active {
    box-shadow: none;
  }
}