.banner__blog {
  background:
    var(--color-yellow) url('../../public/images/svg/blob-scene-haikei.svg') no-repeat;
  background-size: cover;
  transition: filter 5s ease-in-out;

  .dragon-text {
    color: var(--color-yellow);
    font-family: $font-dragon;
    font-size: calc(var(--h1) * 2.75);
    line-height: .85em;

    mix-blend-mode: exclusion;
    filter: blur(7rem) opacity(0);
    transition: 1.5s ease-out;
    transition-delay: 5.5s;
  }

  &:hover {
    filter: hue-rotate(calc(350deg));
    transition: calc(var(--speed-slow) * 5);

    .dragon-text {
      color: var(--color-white);
      filter: blur(0) opacity(1);
      transition: var(--speed-fast);

      @media screen and (max-width: $tablet) {
        transform: rotate(0deg);
      }
    }
  }
}

.blog__cards {
  position: sticky;
  top: 7rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  background-color: var(--color-dark);
}