article.log-post {
  padding: 2rem 3rem 2rem 2rem;
  background-color: var(--color-grey);

  div {
    max-width: 40rem;
  }

  h2 {
    margin-bottom: 2rem;
  }

  h5 {
    margin-bottom: 2rem;
  }

  img {
    border: var(--border-size) solid var(--color-dark);
    margin: 1rem 0 0;

    transform: translateX(-13rem);

    @media all and (max-width: 1023px) {
      & {
        width: 100%;
        transform: translateX(0px);
        border-width: .5rem;
      }
    }
  }
}

section.log-post {
  background-color: var(--color-grey);
  width: 100%;
}

@import './Imagination/imagination';