.photo-1 {
  @include photo-default;
  
  background-image: url('../../public/images/photos/1.jpg');
  background-position: center;
}

.photo-2 {
  @include photo-default;

  background-image: url('../../public/images/photos/2.jpg');
}

.photo-3 {
  @include photo-default;

  background-image: url('../../public/images/photos/3.jpg');
  background-position: center top;
}

.photo-4 {
  @include photo-default;

  background-image: url('../../public/images/photos/4.jpg');
  background-position: center center;
}

.photo-5 {
  @include photo-default;

  background-image: url('../../public/images/vsc.jpg');
  background-position: center center;
}