#imagination-main {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;

  article {
    background-color: var(--color-grey);
    padding: 2rem 2rem;
    max-width: 38vw;

    blockquote {
      font-family: 'Times New Roman', Times, serif;
      font-size: calc(var(--base-font-size) * 1.1);
      font-style: italic;
    }

    p {
      font-size: var(--h5);

      @keyframes where {
        from {filter: blur(0rem);}
        to {filter: blur(4rem);}
      }

      &.where {
        animation: where 1.618s ease-in infinite alternate;
        font-weight: bold;
      }
    }
  }

  @media all and (max-width: $tablet) {
    article {
      max-width: 68vw;
    }   
  }

  aside {
    @include photo-default;
    height: 100vh;

    background-image: url('../../public/images/michel6.jpg');
    border-top: none;
    width: 100%;
  }

  @media all and (min-width: 100rem) {
    aside {
      background-image: url('../../public/images/michel6__rotated.jpg');
    }
  }
}