/* CLASSES CLASSES CLASSES CLASSES CLASSES CLASSES CLASSES CLASSES */

.blog__post {
  padding: 2rem 3rem 2rem 2rem;
  background-color: var(--color-grey);

  h2 {
    margin-bottom: 2rem;
  }

  h5 {
    margin-bottom: 2rem;
  }

  img {
    border: var(--border-size) solid var(--color-dark);
    margin: 1rem 0 0;

    transform: translateX(-13rem);
    
    @media all and (max-width: 1023px) {
      & {
        width: 100%;
        transform: translateX(0px);
        border-width: .5rem;
      }
    }
  }
}

/* DARK MODE DARK MODE DARK MODE DARK MODE DARK MODE DARK MODE DARK MODE */

.dark-mode-button {
  position: sticky;
  top: 10.5rem;

  border: 0.25rem solid var(--color-dark);
  padding: 1rem;

  box-shadow: 0 4px .5rem #1e1e1e;

  transition: var(--speed-fast);

  &:focus,
  &:hover {
    border-radius: 1rem;
  }

  &:active {
    box-shadow: none;
  }
}

:root *.dark-mode,
.dark-mode .blog__post {
  --color-white: #1e1e1e;
  --color-blood: #ffb532;
  --color-dark: #d2d2ce;
  --color-grey: #1e1e1e;
  --color-yellow: #af3333;

  // color: var(--color-dark);
}