.landing__top {
  width: 100vw;
  height: 100%;
  display: flex;
  gap: 1rem;
  
  background-color: var(--color-dark);
  position: sticky;
  top: 7rem;
  
  z-index: 0;
  }
  
  .home__top {
    border-top: 1rem solid var(--color-dark);
}

.landing__second {
  border-top: 1rem solid var(--color-dark);
  background-color: var(--color-dark);
  position: sticky;
  top: 7rem;
  z-index: 2;

}

.landing__second div {
  padding: 2rem;

  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;

  background-color: var(--color-white);

  
  span {
    margin: .33rem;
    border: .5rem solid var(--color-dark);
    font-weight: bold;

    transition: all 5s;
    cursor: no-drop;

    &:hover {
      border-radius: 1rem;
      transition: all var(--speed-fast);
    }

    &.passed {
      padding: 1rem;
      display: inline-block;
      background-color: #5f874c;
      color: var(--color-white);
    }

    &.wip {
      padding: 1rem;
      display: inline-block;
      background-color: var(--color-yellow);
    }

    &.future {
      padding: 1rem;
      display: inline-block;
      color: var(--color-dark);
    }
  }
}

.goals {
  border-top: 1rem solid var(--color-dark);
  background-color: var(--color-dark);
  z-index: 3;

  ul {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);

    @media screen and (max-width: 64rem) {
    & {
      grid-template-columns: 1fr;
    }
  }

    li {
      background-color: var(--color-white);
      padding: 2rem;

      &.done {
        background-color: #5f874c;
        color: var(--color-white);
      }

      &.wip {
        background-color: var(--color-yellow);
      }

      &.reass {
        background-color: var(--color-blood);
        color: var(--color-white);
      }
    }
  }
}

.landing__banner {
  min-width: 33vw;
  padding: 2rem;
  border-top: 1rem solid var(--color-dar);

  background: 
    var(--color-blood) 
    url(../../public/images/svg/stacked-waves-haikei.svg)
    no-repeat 
    center 
    center;
  background-size: cover;
  color: var(--color-white);

  h1 {
    margin-bottom: 6rem;
    position: sticky;
    top: 12rem;
  }
}

/* LANDING PAGE LIST - LANDING PAGE LIST - LANDING PAGE LIST - LANDING PAGE LIST */

.landing-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  background: var(--color-dark);
  width: 100%;

  .school-project {
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      align-items: right;
      // justify-content: space-between;
      flex-shrink: 1;
    }
  }

  h1 { 
    color: rgb(228, 228, 228);
    padding: .25rem 1.5rem 0rem 1.5rem;
  }

  ul {
    display: grid;
    gap: 1rem;
    mix-blend-mode: lighten;

    h2 {
      text-align: left;
    }

    li { 
      z-index: 1;
    }
    
    li a {
      padding: 2rem;
      width: 100%;

      background-color: var(--color-grey);
      display: flex;
      justify-content: space-between;
      align-items: center;

      text-decoration: none;

      transition: 
        transform var(--speed-slow) cubic-bezier(0.81, 0.02, 0.92, 0.65),
        border-radius 0.2s 0.4s ease;
        
        &:focus,
        &:hover {
        border-radius: 1rem 0 0 1rem;
        transform: translateX(1.5em);

        transition: 
        transform var(--speed-slow) cubic-bezier(0.28, 0.78, 0.6, 0.93), 
        border-radius 0.2s;
      }
    }
  }
}

/* Background Images*/

:root { /* Positioning of list background images */
  --bg-pos: left / contain no-repeat; 
}

/* CLASSES CLASSES CLASSES CLASSES CLASSES CLASSES CLASSES CLASSES CLASSES  */

.michel {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  
  width: 100%; 
  min-height: 89vh;

  position: sticky;
  top: 8.5rem;
  z-index: -1;

  background-image: url('../../public/images/michel.jpg');
  background-size: cover; 
  h2 {
    color: var(--color-white);
    text-align: left;
  
    max-width: 30rem;
  }
}