.main-1 {
  width: 100vw;
  height: 100%;
  display: flex;
  gap: 1rem;
  
  background-color: var(--color-dark);
  position: sticky;
  top: 7rem;
  
  z-index: 0;
}

.main-2 {
  border-top: 1rem solid var(--color-dark);
  background-color: var(--color-dark);
  position: sticky;
  top: 7rem;
  z-index: 2;
  
  & div {
    padding: 2rem;

    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;

    background-color: var(--color-white);

    span {
      margin: .33rem;
      padding: 1rem;
      border: .5rem solid var(--color-dark);
      display: inline-block;
      font-weight: bold;

      transition: all 5s;
      cursor: no-drop;

      &:hover {
        border-radius: 1rem;
        transition: var(--speed-fast);
        }

      &.passed {
        background-color: #5f874c;
        color: var(--color-white);
        }

      &.wip {
        background-color: var(--color-yellow);
        }

      &.future {
        color: var(--color-dark);
        }
        }
        }
}

.goals {
  border-top: 1rem solid var(--color-dark);
  background-color: var(--color-dark);
  z-index: 2;

  ul {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);

    
      @media screen and (max-width: 64rem) {
        & {
          grid-template-columns: 1fr;
        }
      }

    .done {
      background-color: #5f874c;
      color: var(--color-white);
    }

    .wip {
      background-color: var(--color-yellow);
    }
  }
}

.banner {
  min-width: 33vw;
  padding: 2rem;

  background: 
    var(--color-blood) 
    url(../../public/images/svg/stacked-waves-haikei.svg);
  background-size: cover;
  color: var(--color-white);
}