@media all and (max-width: $tablet) {
  .banner, .streaming__banner {
    width: 100vw;
  }

  .top {
    flex-direction: column;
    width: 100%;
    top: -21rem;
  }

  section:nth-child(1), .respond {
    flex-direction: column;
    top: 8.35rem;
  }

  .streaming__banner {
    max-width: none;
  }
}

@media all and (max-width: $phone) {
  :root {
    --base-font-size: 1rem;
  }

  header ul li:last-child {
    margin-right: 0rem;
  }

  main {
    top: 0;
    position: relative;
  }

  section:first-child, .respond {
    position: sticky;
    top: -55rem;
  }

  section {
    top: 6rem;
  }
}