@media all and (max-width: $tablet) {
  .banner, .streaming__banner {
    width: 100vw;
  }

  .top {
    flex-direction: column;
    width: 100%;
    top: -21rem;
  }

  section:nth-child(1), .respond {
    flex-direction: column;
    top: -12rem;
  }
  .streaming__banner {
    max-width: none;
  }

  footer section {
    flex-direction: column;
    max-width: 100vw;
    
    a {
      border-radius: 0;
      width: 57vw;
    } 
  }
}

@media all and (max-width: $phone) {
  :root {
    --base-font-size: 1rem;
  }

  main {
    top: 0;
    position: relative;
  }

  section:nth-child(1), .respond {
    position: sticky;
    top: -35rem;
  }

  section {
    top: 6rem;
  }
}