
.streaming__banner {
  min-width: 42vw;
  
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: top;
  gap: 1rem;
  
  aside {
    min-height: 13vh;

    background: 
    var(--color-yellow) 
    url('../../public/images/svg/blob-scene-haikei.svg')
    no-repeat 
    top 
    left;

    background-size: cover;
  }
}

.streaming__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.toolbar {
  padding: 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: .25rem;

  input {
    border: 0;
    padding: 2rem;

    flex-grow: 3;
    background-color: var(--color-grey);
    
    font-weight: bold;

    &:active, &:focus, &:hover {
      background-color: var(--color-white);
    }

    &::placeholder {
      color: grey;
      font-weight: normal;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    gap: .25rem;

    color: var(--color-grey);
    font-weight: bold;

    li {
      border: none;
      padding: 2rem;

      flex-grow: 1;

      background-color: var(--color-blood);
      text-align: center;
    }
  }
}

.resultList {
  display: flex;
  flex-direction: column;
  gap: .25rem;

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--color-grey);

    button {
      height: 6rem;
      border: none;  
      padding: 0.5rem 1rem;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      box-shadow: none;
      font-size: var(--h6);
      font-weight: bold;

      transition: calc(var(--speed-slow) * 3);

      audio {
        width: 9rem;
      }

      &:hover {
        background-color: var(--color-white);
        transition: calc(var(--speed-fast) / 2);
      }

      &.button-play {
        width: 100%;
        padding: 2rem;

        align-content: center;

        color: var(--color-dark);
        text-align: left;
      }

      &.button-do {
        background-color: rgb(223, 223, 223);

        &:hover {
          opacity: 1;
        }
      }

      &.button-del:hover {
        background-color: var(--color-blood);
      }

      &.button-fav:hover {
        background-color: var(--color-green);
      }
    }
  }
}