.streaming__banner {
  min-width: 42vw;
  
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
  aside {
    min-height: 13vh;

    background: 
    url('../../public/images/svg/blob-scene-haikei.svg')
    no-repeat 
    top 
    left;
    background-size: cover;

    color: var(--color-grey);

    h1 {
      color: var(--color-dark);
    }

    ol {
      padding-left: 1.5rem;
      
      li {
        padding-left: .5rem;
        list-style-type: decimal; 
      }
    }

    &.how-to {
      background: var(--color-white);
      color: var(--color-dark);
  }

  
  }
}

.streaming__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;

  .admin-panel {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: .25rem;
  }

  .user-panel {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: .25rem;

    div {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      gap: .25rem;
    }

    input {
      flex-grow: 1;
    }
  }

  input {
    border: 0;
    padding: 2rem;

    flex-grow: 3;
    background-color: var(--color-grey);
    
    font-weight: bold;

    &[type="submit"] {
      background-color: var(--color-blood);
      color: var(--color-grey);
      cursor: pointer;

      &:active, &:focus, &:hover {
        background-color: #aa3232;
      }
      
      &::placeholder {
        color: rgb(82, 82, 82);
      }
    }

    &[type="text"] {
      color: var(--color-dark);
      
      font-weight: bold;

      &:active, &:focus, &:hover {
        background-color: var(--color-white);
      }

      &::placeholder {
        color: grey;
        font-weight: normal;
      }
    }
  }
}

.streaming__results {
  display: flex;
  flex-direction: column;
  gap: .25rem;

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--color-grey);

    button {
      height: 6rem;
      border: none;  
      padding: 0.5rem 1rem;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      box-shadow: none;
      font-size: var(--h6);
      font-weight: bold;

      audio {
        width: 9rem;
      }

      &:hover {
        background-color: var(--color-white);
        transition: 0s;
      }

      &.button-play {
        width: 100%;
        padding: 2rem;

        align-content: center;

        color: var(--color-dark);
        text-align: left;
      }

      &.button-do {
        background-color: var(--color-white);
      }

      &.button-del:hover {
        background-color: var(--color-blood);
      }

      &.button-fav:hover {
        background-color: var(--color-yellow);
      }
    }
  }
}