.streaming__banner {
  min-width: 38vw;
  
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: top;
  gap: 1rem;
  
  & section:first-child {
    min-height: 13vh;

    background: 
    var(--color-yellow) 
    url('../../public/images/svg/blob-scene-haikei.svg')
    no-repeat 
    top 
    left;

    background-size: cover;
  }
  
  section:nth-child(2) {
    z-index: 1;

    ul {
      display: flex;
      flex-direction: column;
      gap: .25rem;

      li {
        // padding: 2rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        background-color: var(--color-grey);

        button {
          height: 6rem;
          border: none;  
          padding: 0.5rem 1rem;
          
          box-shadow: none;
          font-size: var(--h6);

          transition: calc(var(--speed-slow) * 3);

          &.delButton {
            background-color: var(--color-dark);
            opacity: .15;

            &:hover {
              background-color: var(--color-blood);
              opacity: 1;
            }
          }

          &.favButton {
            padding-left: 2rem;
            flex-grow: 1;
            color: var(--color-dark);
            text-align: left;

            &:hover {
              background-color: var(--color-white);
            }
          }
          
          &:hover {
            border-radius: 0;
            transition: calc(var(--speed-fast) / 2);
          }

          &:active, &:focus {
            border-radius: 0;
            border: 0;
          }
        }
      }
    }
  }
}

.streaming__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  section {
    // background-color: var(--color-grey);
    padding: 2rem;

    div.toolbar {
      padding: 0;

      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: .25rem;

      color: var(--color-white);

      input {
        flex-grow: 2;
        background-color: var(--color-grey);
        border: 0;
        padding: 2rem;

        &::placeholder {
          color: grey;
        }
      }

      ul {
        padding: 0;
        margin: 0;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 1;
        gap: .25rem;

        color: var(--color-grey);

        li {
          border: none;

          flex-grow: 1;
          padding: 2rem;

          background-color: var(--color-blood);
          
          list-style-type: none; 
          text-align: center;
        }
      }
    }

    &.results { 
      display: flex;
      flex-direction: column;
      gap: .25rem;

      padding: 0;

      h2 {
        padding: 2rem;
      }

      ul.resultList {
        display: flex;
        flex-direction: column;
        gap: .25rem;

        li {
          // padding: 2rem;
          background-color: var(--color-grey);
          display: flex;
          align-items: center;
          justify-content: space-between;

          button {
            --button-color: rgb(124, 124, 124);

            height: 6rem;
            border: none;  
            padding: 0.5rem 1rem;
            
            box-shadow: none;
            color: var(--button-color);
            font-size: var(--h6);
            

            transition: calc(var(--speed-slow) * 3);

            &.favButton {
              background-color: var(--color-dark);
              opacity: .15;

              &:hover {
                background-color: var(--color-green);
              }
            }

            &.trackButton {
              padding: 2rem;
              color: var(--color-dark);
              text-align: left;
              flex-grow: 3;

              &:hover {
                background-color: var(--color-white);
              }

              &:active {
                scale: 1;
              }
            }

            &:hover {
              border-radius: 0;
              opacity: 1;

              transition: calc(var(--speed-fast) / 2);
            }

            &:active, &:focus {
              border-radius: 0;
              border: 0;
            }
          }

          div {
            display: flex;
            align-items: center;
            flex-direction: row;
          }

          h5 {
            margin-left: 2rem;
          }
        }
      }
    }
  }

  ul.indent {
  --indent: 3rem;
  transform: translateX(var(--indent));
  width: calc(56vw - calc(var(--indent) * 3));

    li { 
      list-style-type: disc;
    }
  }
}
