// MEDIA QUERRY BREAKPOINTS
$phone: 32rem;
$tablet: 64rem;
$red: #af3333; // FOR DEBUGGING

:root {
  // GLOBAL SIZES
  --border-size: 1rem;
  --golden-ratio: 38.2%;

  // COLOR PALETTE
  --color-staticwhite: #eee;
  --color-white: #eee;
  --color-blood: #af3333;
  --color-dark: #1e1e1e;
  --color-green: #6a9955;
  --color-grey: #d2d2ce;
  --color-darkgrey: #adada9;
  --color-orange: #f66c03;
  --color-yellow: #ffb532;
  --color-shadow: rgba(0, 0, 0, 0.15);

  // FONT SIZE SCALES

  --base-font-size: 1.25em;
  --type-scale: 1.125;
  /* ^ Major Second Scale */

  --h5: calc(var(--base-font-size));
  --h4: calc(var(--h5) * var(--type-scale));
  --h3: calc(var(--h4) * var(--type-scale));
  --h2: calc(var(--h3) * var(--type-scale));
  --h1: calc(var(--h2) * var(--type-scale));

  // ANIMATION SPEEDS
  --speed-fast: 0.25s;
  --speed-slow: 0.5s;
}