@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=UnifrakturMaguntia&display=swap");
:root {
  --border-size: 1rem;
  --golden-ratio: 38.2%;
  --color-staticwhite: #eee;
  --color-white: #eee;
  --color-blood: #af3333;
  --color-dark: #1e1e1e;
  --color-green: #6a9955;
  --color-grey: #d2d2ce;
  --color-darkgrey: #adada9;
  --color-orange: #f66c03;
  --color-yellow: #ffb532;
  --color-shadow: rgba(0, 0, 0, 0.15);
  --base-font-size: 1.25em;
  --type-scale: 1.125;
  /* ^ Major Second Scale */
  --h5: calc(var(--base-font-size));
  --h4: calc(var(--h5) * var(--type-scale));
  --h3: calc(var(--h4) * var(--type-scale));
  --h2: calc(var(--h3) * var(--type-scale));
  --h1: calc(var(--h2) * var(--type-scale));
  --speed-fast: 0.25s;
  --speed-slow: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--color-dark);
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  color: var(--color-dark);
  font-size: var(--base-font-size);
  line-height: 1.5;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  min-height: 100vh;
  width: 100vw;
  scrollbar-gutter: stable;
}

main {
  min-height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a,
a:visited {
  color: var(--color-dark);
  text-decoration: underline;
  -webkit-transition: color var(--speed-fast);
  transition: color var(--speed-fast);
}

a:hover,
a:visited:hover {
  color: var(--color-blood);
  text-decoration: none;
}

button {
  background-color: var(--color-white);
  color: var(--color-dark);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

details {
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--color-white);
  border: 0.2rem solid var(--color-dark);
  border-radius: .5rem;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

details:hover {
  -webkit-box-shadow: -0.3rem 0.4rem 0.01rem var(--color-shadow);
          box-shadow: -0.3rem 0.4rem 0.01rem var(--color-shadow);
  -webkit-transition: var(--speed-fast);
  transition: var(--speed-fast);
}

details:last-child {
  margin-bottom: 0;
}

details li {
  list-style-type: disc;
  margin-left: 2rem;
}

details summary {
  font-weight: bold;
}

details ol, details p,
details blockquote {
  cursor: text;
  margin-top: 1rem;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

li {
  list-style-type: none;
}

p {
  margin: 1rem 0 1rem;
}

p:first-child {
  margin-top: 0;
}

section:nth-child(1) {
  border-top: none;
}

section:nth-child(1) section {
  border-top: none;
}

.card {
  padding: 2rem;
  min-width: 280px;
  -webkit-transition: var(--speed-fast);
  transition: var(--speed-fast);
  background-color: var(--color-white);
}

.card h6 {
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
  display: inline-block;
  background-color: var(--color-grey);
  border: 0.2rem solid var(--color-dark);
  border-radius: 0.5rem;
  color: var(--color-dark);
  -webkit-transition: 1s;
  transition: 1s;
}

.card:hover {
  -webkit-transition: var(--speed-fast);
  transition: var(--speed-fast);
}

.card:hover h6 {
  -webkit-box-shadow: -0.3rem 0.4rem 0.01rem var(--color-shadow);
          box-shadow: -0.3rem 0.4rem 0.01rem var(--color-shadow);
  background-color: var(--color-white);
  -webkit-transition: var(--speed-fast);
  transition: var(--speed-fast);
}

.flex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.link-list {
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--color-dark);
  width: 100%;
  z-index: 2;
}

.link-list ul {
  display: -ms-grid;
  display: grid;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 1rem;
}

.link-list ul li a {
  padding: 2rem;
  background-color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: border-radius 0.2s 0.4s ease, -webkit-transform var(--speed-slow) cubic-bezier(0.81, 0.02, 0.92, 0.65);
  transition: border-radius 0.2s 0.4s ease, -webkit-transform var(--speed-slow) cubic-bezier(0.81, 0.02, 0.92, 0.65);
  transition: transform var(--speed-slow) cubic-bezier(0.81, 0.02, 0.92, 0.65), border-radius 0.2s 0.4s ease;
  transition: transform var(--speed-slow) cubic-bezier(0.81, 0.02, 0.92, 0.65), border-radius 0.2s 0.4s ease, -webkit-transform var(--speed-slow) cubic-bezier(0.81, 0.02, 0.92, 0.65);
}

.link-list ul li a:hover {
  border-radius: 1rem 0 0 1rem;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
  -webkit-transition: border-radius 0.2s, -webkit-transform var(--speed-slow) cubic-bezier(0.28, 0.78, 0.6, 0.93);
  transition: border-radius 0.2s, -webkit-transform var(--speed-slow) cubic-bezier(0.28, 0.78, 0.6, 0.93);
  transition: transform var(--speed-slow) cubic-bezier(0.28, 0.78, 0.6, 0.93), border-radius 0.2s;
  transition: transform var(--speed-slow) cubic-bezier(0.28, 0.78, 0.6, 0.93), border-radius 0.2s, -webkit-transform var(--speed-slow) cubic-bezier(0.28, 0.78, 0.6, 0.93);
}

.link-list ul li a span {
  font-size: var(--h2);
  font-weight: bold;
}

.link-list ul li a div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-list ul li a div span {
  background-color: var(--color-grey);
  border-radius: 0.5rem;
  margin: 0 1rem;
  padding: 0.5rem;
  font-size: calc(var(--base-font-size) / 1.618);
  font-weight: bold;
}

.respond {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.tech-icon {
  width: 2.5rem;
  margin-right: 1rem;
}

.tech-icon:last-child {
  margin-right: 0;
}

.bandcamp {
  border: none;
  margin: 1rem;
  z-index: 2;
}

.youtube {
  border-top: 1rem solid var(--color-dark);
  z-index: 2;
  height: 69vh;
}

article.blog-post {
  padding: 2rem 3rem 2rem 2rem;
  background-color: var(--color-grey);
}

article.blog-post div {
  max-width: 40rem;
}

article.blog-post h2 {
  margin-bottom: 2rem;
}

article.blog-post h5 {
  margin-bottom: 2rem;
}

article.blog-post img {
  border: var(--border-size) solid var(--color-dark);
  margin: 1rem 0 0;
  -webkit-transform: translateX(-13rem);
          transform: translateX(-13rem);
}

@media all and (max-width: 1023px) {
  article.blog-post img {
    width: 100%;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    border-width: .5rem;
  }
}

section.blog-post {
  background-color: var(--color-grey);
  width: 100%;
}

#imagination-main {
  background-color: var(--color-grey);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}

#imagination-main article {
  background-color: var(--color-grey);
  padding: 2rem 2rem;
  max-width: 60vw;
}

#imagination-main article blockquote {
  font-family: 'Times New Roman', Times, serif;
  font-size: calc(var(--base-font-size) * 1.1);
  font-style: italic;
}

#imagination-main article p {
  font-size: var(--h5);
}

@-webkit-keyframes where {
  from {
    -webkit-filter: blur(0rem);
            filter: blur(0rem);
  }
  to {
    -webkit-filter: blur(4rem);
            filter: blur(4rem);
  }
}

@keyframes where {
  from {
    -webkit-filter: blur(0rem);
            filter: blur(0rem);
  }
  to {
    -webkit-filter: blur(4rem);
            filter: blur(4rem);
  }
}

#imagination-main article p.where {
  -webkit-animation: where 1.618s ease-in infinite alternate;
          animation: where 1.618s ease-in infinite alternate;
  font-weight: bold;
}

@media all and (max-width: 64rem) {
  #imagination-main article {
    max-width: 62vw;
  }
}

#imagination-main aside {
  min-height: 89vh;
  padding: 2rem;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  border-left: 1rem solid var(--color-dark);
  position: fixed;
  left: calc(62vw - 1rem);
  background-image: url("../../public/images/photo/6.jpg");
  background-size: auto;
  background-position: left;
  background-repeat: no-repeat;
}

#imagination-main aside h2 {
  color: var(--color-staticwhite);
  max-width: 45rem;
}

.banner {
  min-height: 13vh;
  width: 38vw;
  padding: 2rem;
  height: auto;
  background: var(--color-blood) url(../../public/images/svg/stacked-waves-haikei.svg);
  background-size: cover;
}

.banner h2 {
  color: var(--color-staticwhite);
}

.github-contributions img {
  width: 100%;
}

.streaming__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.streaming__banner h1 {
  color: var(--color-dark);
}

.streaming__banner ol {
  padding-left: 1.5rem;
}

.streaming__banner ol li {
  padding-left: .5rem;
  list-style-type: decimal;
}

.streaming__banner.how-to {
  background: var(--color-white);
  color: var(--color-dark);
}

.streaming__banner.how-to blockquote {
  padding: 2rem;
  background-color: #e1e1e1;
  -webkit-transition: 5s;
  transition: 5s;
}

.streaming__main {
  border-top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.toolbar {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: .25rem;
}

.toolbar .admin-panel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: .25rem;
}

.toolbar .user-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: .25rem;
}

.toolbar .user-panel div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: .25rem;
}

.toolbar .user-panel input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.toolbar input {
  border: 0;
  padding: 2rem;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  background-color: var(--color-grey);
  font-size: var(--h6);
  font-weight: bold;
}

.toolbar input[type="submit"], .toolbar input[type="button"] {
  background-color: var(--color-blood);
  color: var(--color-grey);
  cursor: pointer;
}

.toolbar input[type="submit"]:active, .toolbar input[type="submit"]:focus, .toolbar input[type="submit"]:hover, .toolbar input[type="button"]:active, .toolbar input[type="button"]:focus, .toolbar input[type="button"]:hover {
  background-color: #aa3232;
}

.toolbar input[type="submit"]::-webkit-input-placeholder, .toolbar input[type="button"]::-webkit-input-placeholder {
  color: #525252;
}

.toolbar input[type="submit"]:-ms-input-placeholder, .toolbar input[type="button"]:-ms-input-placeholder {
  color: #525252;
}

.toolbar input[type="submit"]::-ms-input-placeholder, .toolbar input[type="button"]::-ms-input-placeholder {
  color: #525252;
}

.toolbar input[type="submit"]::placeholder, .toolbar input[type="button"]::placeholder {
  color: #525252;
}

.toolbar input[type="text"] {
  color: var(--color-dark);
  font-weight: bold;
}

.toolbar input[type="text"]:active, .toolbar input[type="text"]:focus, .toolbar input[type="text"]:hover {
  background-color: var(--color-white);
}

.toolbar input[type="text"]::-webkit-input-placeholder {
  color: grey;
  font-weight: normal;
}

.toolbar input[type="text"]:-ms-input-placeholder {
  color: grey;
  font-weight: normal;
}

.toolbar input[type="text"]::-ms-input-placeholder {
  color: grey;
  font-weight: normal;
}

.toolbar input[type="text"]::placeholder {
  color: grey;
  font-weight: normal;
}

.streaming__results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .25rem;
}

.streaming__results li {
  max-height: 5.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.streaming__results li button {
  border: none;
  padding: 0.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--h6);
  font-weight: bold;
}

.streaming__results li button audio {
  display: none;
  width: 9rem;
}

.streaming__results li button.playing {
  background: var(--color-dark);
  border-radius: 1rem 0 0 1rem;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
  z-index: 0;
  -webkit-animation: playing 1.618s ease-in infinite;
          animation: playing 1.618s ease-in infinite;
}

@-webkit-keyframes playing {
  from {
    background: var(--color-white);
  }
  to {
    background: var(--color-grey);
  }
}

@keyframes playing {
  from {
    background: var(--color-white);
  }
  to {
    background: var(--color-grey);
  }
}

.streaming__results li button.playing:hover {
  background-color: var(--color-orange);
}

.streaming__results li button:hover {
  background-color: var(--color-white);
  -webkit-transition: 0s;
  transition: 0s;
}

.streaming__results li button.button-play {
  width: 100%;
  padding: 2rem;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: var(--color-grey);
  color: var(--color-dark);
  text-align: left;
  -webkit-transition: var(--speed-fast) ease-out;
  transition: var(--speed-fast) ease-out;
}

.streaming__results li button.button-play:hover {
  border-radius: 1rem 0 0 1rem;
  background-color: var(--color-white);
  color: var(--color-dark);
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
  -webkit-transition: var(--speed-fast) ease-out;
  transition: var(--speed-fast) ease-out;
}

.streaming__results li button.button-do {
  background-color: var(--color-white);
  z-index: 1;
}

.streaming__results li button.button-del:hover {
  background-color: var(--color-blood);
}

.streaming__results li button.button-fav:hover {
  background-color: var(--color-yellow);
}

.user-panel__favs {
  padding: 0;
  position: relative;
  top: 0;
}

.user-panel__favs .card {
  color: var(--color-dark);
  margin-bottom: 1rem;
}

.user-panel__favs .card:last-child {
  margin-bottom: 0;
}

.user-panel__info {
  padding: 0;
  z-index: 1;
  position: relative;
  top: 0;
}

.none {
  display: none;
}

.info-toggle {
  border: none;
  padding: 2rem;
  background-color: var(--color-blood);
  color: var(--color-grey);
  font-size: var(--h6);
  -webkit-transition: var(--speed-fast);
  transition: var(--speed-fast);
}

.dark-bg {
  background: var(--color-dark);
}

.banner__blog {
  background: var(--color-yellow) url("../../public/images/svg/blob-scene-haikei.svg") no-repeat;
  background-size: cover;
  -webkit-transition: -webkit-filter 5s ease-in-out;
  transition: -webkit-filter 5s ease-in-out;
  transition: filter 5s ease-in-out;
  transition: filter 5s ease-in-out, -webkit-filter 5s ease-in-out;
}

.banner__blog .dragon-text {
  color: var(--color-yellow);
  font-family: "UnifrakturMaguntia", "Times New Roman", serif;
  font-size: calc(var(--h1) * 1.5);
  line-height: .85em;
  mix-blend-mode: exclusion;
  -webkit-filter: blur(7rem) opacity(0);
          filter: blur(7rem) opacity(0);
  -webkit-transition: 1.5s ease-out;
  transition: 1.5s ease-out;
  -webkit-transition-delay: 5.5s;
          transition-delay: 5.5s;
}

.banner__blog:hover {
  -webkit-filter: hue-rotate(calc(350deg));
          filter: hue-rotate(calc(350deg));
  -webkit-transition: calc(var(--speed-slow) * 5);
  transition: calc(var(--speed-slow) * 5);
}

.banner__blog:hover .dragon-text {
  color: var(--color-white);
  -webkit-filter: blur(0) opacity(1);
          filter: blur(0) opacity(1);
  -webkit-transition: var(--speed-fast);
  transition: var(--speed-fast);
}

@media screen and (max-width: 64rem) {
  .banner__blog:hover .dragon-text {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

section {
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  background-color: var(--color-dark);
  border-top: 1rem solid var(--color-dark);
  position: -webkit-sticky;
  position: sticky;
  top: 7.35rem;
  z-index: 2;
}

section div.info {
  width: 100%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--color-white);
}

section:first-child {
  top: 8.35rem;
}

*.dark-mode {
  --color-white: #1e1e1e;
  --color-blood: #ffb532;
  --color-dark: #d2d2ce;
  --color-grey: #1e1e1e;
  --color-yellow: #af3333;
}

.dark-mode-button {
  border: 0.3rem solid var(--color-dark);
  border-radius: 3rem;
  padding: 1rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 10;
  font-size: var(--h4);
  -webkit-transition: var(--speed-slow) ease-out;
  transition: var(--speed-slow) ease-out;
}

.dark-mode-button:hover {
  background-color: var(--color-orange);
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: var(--speed-fast);
  transition: var(--speed-fast);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: hidden;
  background-color: var(--color-dark);
  font-size: var(--h5);
  -webkit-transition: border-radius var(--speed-slow);
  transition: border-radius var(--speed-slow);
}

footer a,
footer a:visited {
  padding: 2rem;
  width: 100%;
  color: var(--color-grey);
  text-decoration: none;
}

footer section {
  border-top: none;
  margin-top: -2rem;
  max-width: 45rem;
  padding: 0 10rem 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer section a {
  border-radius: .75rem .75rem 0 0;
  padding: 1rem 0;
  background-color: var(--color-darkgrey);
  text-align: center;
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
  -webkit-transition: var(--speed-fast);
  transition: var(--speed-fast);
}

footer section a:hover {
  background-color: var(--color-white);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.goals {
  background-color: var(--color-dark);
  z-index: 2;
}

.goals ul {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 64rem) {
  .goals ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.goals ul .done {
  background-color: #5f874c;
  color: var(--color-white);
}

.goals ul .wip {
  background-color: var(--color-yellow);
}

header {
  border-bottom: 1rem solid var(--color-dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--color-white);
  font-size: var(--h2);
  font-weight: bold;
}

header a {
  padding: 2rem 0.3rem 2rem 2rem;
  text-decoration: none;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header ul li:last-child {
  margin-right: 2rem;
}

header ul li a {
  border-radius: 3rem;
  padding: .5rem;
  color: var(--color-blood);
  -webkit-transition: var(--speed-slow);
  transition: var(--speed-slow);
}

header ul li a:hover {
  background-color: var(--color-grey);
  color: var(--color-dark);
  text-decoration: none;
  -webkit-transition: var(--speed-fast);
  transition: var(--speed-fast);
}

.log__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 7rem;
  background-color: var(--color-dark);
}

.log__cards:hover {
  cursor: not-allowed;
}

.log__cards .log {
  background-color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: var(--h2);
  font-weight: 700;
}

.log__cards .log > * {
  padding: 2rem 1rem;
}

.log__cards .log:hover h6 {
  background-color: var(--color-blood);
  border-radius: 0 .5rem .5rem 0;
  -webkit-transform: translateX(0.5rem) rotate(180deg);
          transform: translateX(0.5rem) rotate(180deg);
  -webkit-transition: var(--speed-fast);
  transition: var(--speed-fast);
}

.log__cards .log h6 {
  margin: 1rem 0;
  padding: 1rem 1rem 1rem 2.5rem;
  -webkit-transform: translateX(1.5rem) rotate(180deg);
          transform: translateX(1.5rem) rotate(180deg);
  background-color: var(--color-dark);
  color: var(--color-white);
  font-size: 1rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-align: center;
  text-orientation: mixed;
  -webkit-transition: var(--speed-slow) ease-in;
  transition: var(--speed-slow) ease-in;
}

.log__cards .log p {
  margin: 0 1rem;
}

:root {
  --progress-width: 0px;
  --progress-color: 38;
}

.progress-bar {
  height: 1rem;
  margin-top: -1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 7.35rem;
  z-index: 10;
}

.progress-bar .progress-bar__progress {
  height: 1.05rem;
  width: var(--progress-width);
  background-color: hsl(var(--progress-color), 100%, 60%);
}

@media screen and (max-width: 32rem) {
  .progress-bar {
    top: 6.1rem;
  }
}

.photo-section {
  min-height: 89vh;
  padding: 2rem;
  background-size: cover;
  background-position: center center;
}

.photo-section h2 {
  color: var(--color-staticwhite);
  max-width: 45rem;
}

@-webkit-keyframes wobble {
  from {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
  to {
    -webkit-transform: translateY(-1rem) translateX(0);
            transform: translateY(-1rem) translateX(0);
  }
}

@keyframes wobble {
  from {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
  to {
    -webkit-transform: translateY(-1rem) translateX(0);
            transform: translateY(-1rem) translateX(0);
  }
}

.to-top {
  width: 100%;
  height: 100%;
  border: none;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  background-color: var(--color-grey);
  border-top: 1rem solid var(--color-dark);
  font-size: var(--h6);
  position: -webkit-sticky;
  position: sticky;
  top: 7.35rem;
  z-index: 2;
  -webkit-transition: var(--speed-slow);
  transition: var(--speed-slow);
}

.to-top span {
  font-size: var(--h3);
  -webkit-transition: var(--speed-fast);
  transition: var(--speed-fast);
}

.to-top:hover {
  background-color: var(--color-white);
  color: var(--color-blood);
  -webkit-transition: border-radius 0.2s, -webkit-transform var(--speed-slow) cubic-bezier(0.28, 0.78, 0.6, 0.93);
  transition: border-radius 0.2s, -webkit-transform var(--speed-slow) cubic-bezier(0.28, 0.78, 0.6, 0.93);
  transition: transform var(--speed-slow) cubic-bezier(0.28, 0.78, 0.6, 0.93), border-radius 0.2s;
  transition: transform var(--speed-slow) cubic-bezier(0.28, 0.78, 0.6, 0.93), border-radius 0.2s, -webkit-transform var(--speed-slow) cubic-bezier(0.28, 0.78, 0.6, 0.93);
}

.to-top:hover span {
  -webkit-transform: translateY(-3rem) translateX(-1);
          transform: translateY(-3rem) translateX(-1);
  -webkit-animation: wobble var(--speed-fast) cubic-bezier(0.18, 0.59, 0.45, 1.13) infinite alternate;
          animation: wobble var(--speed-fast) cubic-bezier(0.18, 0.59, 0.45, 1.13) infinite alternate;
}

@media all and (max-width: 64rem) {
  .banner, .streaming__banner {
    width: 100vw;
  }
  .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    top: -21rem;
  }
  section:nth-child(1), .respond {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 8.35rem;
  }
  .streaming__banner {
    max-width: none;
  }
  footer section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100vw;
  }
  footer section a {
    border-radius: 0;
    width: 57vw;
  }
}

@media all and (max-width: 32rem) {
  :root {
    --base-font-size: 1rem;
  }
  header ul li:last-child {
    margin-right: 0rem;
  }
  main {
    top: 0;
    position: relative;
  }
  section:first-child, .respond {
    position: -webkit-sticky;
    position: sticky;
    top: -55rem;
  }
  section {
    top: 6rem;
  }
}
/*# sourceMappingURL=style.css.map */