$font-main: "Roboto", Arial, Helvetica, sans-serif;
$font-dragon: "UnifrakturMaguntia", "Times New Roman", serif;

@import '_variables';
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

// GLOBAL BODY STYLE
* {
  margin: 0;
  padding: 0;
  font-family: $font-main;
  box-sizing: border-box;
}

body {
  background-color: var(--color-dark);
  // min-width: 280px;
  width: 100vw;
  position: relative;
  overflow-x: hidden;

  color: var(--color-dark);
  font-size: var(--base-font-size);
  line-height: 1.5;
}

#root {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  min-height: 100vh;
  width: 100vw;
  scrollbar-gutter: stable;
}

main {
  display: flex;
  flex-direction: column;
}

// HTML ELEMENTS
a,
a:visited {
  color: var(--color-dark);
  text-decoration: underline;

  transition: color var(--speed-fast);

  &:focus,
  &:hover {
    color: var(--color-blood);
    text-decoration: none;
  }
}

button {
  background-color: var(--color-white);
  color: var(--color-dark);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

details {
  background-color: rgb(225, 225, 225);
  border-radius: .5rem;
  cursor: pointer;
  padding: 1rem;

  p,
  blockquote {
    cursor: text;
  }
}

h1 { font-size: var(--h1); }
h2 { font-size: var(--h2); }
h3 { font-size: var(--h3); }
h4 { font-size: var(--h4); }
h5 { font-size: var(--h5); }

h6 {
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding: 0.5rem;
    display: inline-block;

    background-color: var(--color-grey);
    border: .2rem solid var(--color-dark);
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem .01rem rgba(0, 0, 0, 0.15);
    color: var(--color-dark);

    transition: 1s;
}

li { list-style-type: none; }

p { 
  margin: 1rem 0 1rem; 

  &:first-child { 
    margin-top: 0; 
  }
}

@import '_hub';