header {
  border-bottom: 1rem solid var(--color-dark);

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;

  position: sticky;
  top: 0;

  background-color: var(--color-white);

  font-size: var(--h2);
  font-weight: bold;

  a {
    padding: 2rem 0.3rem 2rem 2rem;

    text-decoration: none;
  }

  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    li {
      &:last-child {
        margin-right: 2rem;
        }

      a {
        border-radius: 3rem;
        padding: .5rem;

        color: var(--color-blood);

        transition: var(--speed-slow);

        &:hover {
          background-color: var(--color-grey);
          color: var(--color-dark);
          text-decoration: none;

          transition: var(--speed-fast);
        }
      }
    }
  }

  &:hover, &:focus, &:active {
    .hover-menu {
      visibility: visible;
      transform: translateY(0rem);
    }
  }
}

.hover-menu {
  visibility: hidden;
  border-bottom: 1rem solid var(--color-dark);
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  top: 0;

  background-color: var(--color-white);

  transform: translateY(-12rem);
  transition: all 1s ease;

  li {
    padding-left: .25rem;

    a {
      border-radius: 1rem;
    }
  }
}