footer {
  display: flex;
  align-items: center;

  background-color: var(--color-dark);
  font-size: var(--h5);

  transition: border-radius var(--speed-slow);

  a,
  a:visited {
    padding: 2rem;
    width: 100%;

    color: var(--color-grey);
    text-decoration: none;
  }
}