footer {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  background-color: var(--color-dark);
  font-size: var(--h5);

  transition: border-radius var(--speed-slow);

  a,
  a:visited {
    padding: 2rem;
    width: 100%;

    color: var(--color-grey);
    text-decoration: none;
  }

  section {
    border-top: none;
    margin-top: -2rem;
    max-width: 45rem;
    padding: 0 10rem 0 2rem;

    display: flex;
    flex-direction: row;

    a {
      border-radius: .75rem .75rem 0 0;
      padding: 1rem 0;

      background-color: var(--color-grey);
      text-align: center;

      transform: translateY(.5rem);
      transition: var(--speed-fast);

      &:hover {
        background-color: var(--color-yellow);
        transform: translateY(0);
      }
    }
  }
}