footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--color-dark);
  font-size: var(--h5);

  transition: border-radius var(--speed-slow);

  a,
  a:visited {
    padding: 2rem;
    width: 100%;

    color: var(--color-grey);
    text-decoration: none;
  }

  section {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    justify-content: center;

    a {
      background-color: var(--color-grey);
      border-radius: .5rem .5rem 0 0;
      text-align: center;

      &:hover {
        background-color: var(--color-yellow);
      }
    }
  }
}