.goals {
  border-top: 1rem solid var(--color-dark);
  background-color: var(--color-dark);
  z-index: 2;

  ul {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);


    @media screen and (max-width: 64rem) {
      & {
        grid-template-columns: 1fr;
      }
    }

    .done {
      background-color: #5f874c;
      color: var(--color-white);
    }

    .wip {
      background-color: var(--color-yellow);
    }
  }
}